<!DOCTYPE html> 
<html>

    <head>
    
        <link rel= "stylesheet" href="/css/topnavstyle.css"> <!--Calls .css file with settings for navigation bar-->
        
    </head>

    <!--Webpage name-->
    <title>Confirm Delete</title>
    <h1>Confirm Deletion</h1>
  
  <!--Navigation bar menu options-->
   <div class="topnav">
       <a href="/users/dashboard">Home</a>
       <a href="/users/logout" class="topnav">Logout</a>
   </div>

<br></br>

<body>
     <!--For page contents to appear in a box-->
    <div style="background: ghostwhite; 
    font-size: 15px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 5px;">

<form action="/users/confirm" method="POST"> 
    <label for="caseID"> <b>Case ID:</b> </label> 
    <input 
    type="number"
    id="caseID"
    name="caseID" 
    value="<%= data %>"
    style="width: 100px"
    class="form-control"
    readonly />

    <button type="submit">Confirm</button>

</form>
</body>
    </html>